header {
  display: flex;
  padding-bottom: 15px; }

#name-container {
  flex: 1;
  text-align: center;
  position: relative;
  top: 15px;
  font-family: 'Overlock', cursive;
  font-size: 82px; }

#info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

#address-bar {
  text-align: right;
  font-size: 22px;
  font-family: 'Space Mono', monospace;
  color: #ccc;
  background-color: white;
  border-radius: 20px; }

#address-bar span {
  color: black; }

#email-container {
  text-align: right;
  font-size: 22px;
  font-family: 'Space Mono', monospace; }
