main {
  flex: 4;
  padding: 10px 20px 10px 40px; }

.section {
  padding: 0 5% 20px 5%; }

.divider {
  height: 8px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e5fbd5+0,ccf4af+100 */
  background: #e5fbd5;
  /* Old browsers */
  background: -moz-linear-gradient(left, #e5fbd5 0%, #ccf4af 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #e5fbd5 0%, #ccf4af 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #e5fbd5 0%, #ccf4af 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5fbd5', endColorstr='#ccf4af',GradientType=1 );
  /* IE6-9 */
  width: 100%; }
