#projects-section {
  padding: 0 5% 40px 5%; }
  #projects-section .project {
    margin-bottom: 30px; }
    #projects-section .project:last-of-type {
      margin-bottom: 0; }
    #projects-section .project .project-header {
      display: flex;
      flex-direction: row; }
      #projects-section .project .project-header h2 {
        flex: 1; }
      #projects-section .project .project-header a {
        margin-left: 30px; }
    #projects-section .project p:nth-of-type(1) {
      font-style: italic; }
