
.project {
  border-radius: 10px;
  height: 250px;
  width: 90%;
  margin: 0 auto 40px auto;
  cursor: default;
  color: white;
  box-shadow: -6px 4px 10px #BBB;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid #EEEEEE;
}

.project > div {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  border-radius: 10px;
  transition: opacity .2s;
}

.project:hover div {
  opacity: 1;
}

#repo-vision {
  background-image: url('../img/projects/repo_vision.png');
}

#langtons-ant {
  background-image: url('../img/projects/ants.png');
}

#decentralized-medium {
  background-image: url('../img/projects/decentralized_medium.png');
}

#news-hound {
  background-image: url('../img/projects/news_hound.png');
}

.project div div:after {
  display: block;
  clear: both;
  content: "";
}

.project h3 {
  float: left;
  margin: 10px 0 0 20px;
  font-family: 'Space Mono', monospace;
  font-size: 32px;
}

.project a {
  float: right;
  margin: 15px 20px 0 0;
  text-decoration: none;
  color: white;
  background-color: rgba(200, 200, 200, 0);
  border: 2px solid white;
  border-radius: 20px;
  padding: 3px 10px;
  font-size: 18px;
  font-weight: 500;
}

.project a:hover {
  color: lightgreen;
  border-color: lightgreen;
}

.project p {
  margin: 10px 20px;
  font-size: 24px;
}
