body, h1, h3, a, p {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-width: 1200px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

#container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
}

.accent {
  font-family: 'Overlock', cursive;
  font-size: 22px;
}
