.tab-container{
  flex: 5;
  background-color: lightyellow;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

.blurb {
  width: 90%;
  position: relative;
  transition: height 1s;
}

.blurb img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}

.blurb h4, .blurb p {
  position: relative;
  z-index: 1;
}
